.card {
  background-color: #ffffff60;
  box-shadow:
    2px 5px 15px 0px #0b325e,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.card:hover {
  box-shadow:
    2px 5px 15px 0px #021b38,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}
