.form {
  display: flex;
  flex-direction: column;
  width: 340px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  box-shadow:
    0px 2px 15px 0px #86929f,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  background: #f7f7f7;
  color: #3d637f;
}

.btn {
  margin: 10px auto;
}

.error {
  color: #c2060c;
  font-size: 14px;
}

.password-level {
  padding-left: 5px;
  color: #164e24;
  font-size: 14px;
}

/*country*/

.country {
  position: relative;
}

.countryList {
  position: absolute;
  left: -141px;
  top: 0px;
  background: #fcfcfc;
  border: 1px solid #ccc;
  padding: 12px 10px 6px;
  min-width: 96px;
  border-radius: 4px;
  color: #000;
}

.country li {
  list-style: none;
  cursor: pointer;
  line-height: 24px;
  height: 24px;
  min-width: 96px;
}

.country li:hover {
  opacity: 0.8;
}

.country span {
  position: absolute;
  top: 10px;
  right: -12px;
  color: #a2aab2;
  font-size: 20px;
}

.country button {
  width: 10px;
  height: 10px;
  margin: 0px;
  padding: 0px;
  background: none;
  border: none;
  position: absolute;
  right: 5px;
  top: 0px;
}

.country button:hover {
  opacity: 0.8;
}

/*gender*/

.gender {
  margin: 4px 0;
}

.genderField {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.genderField p {
  font-size: 20px;
  margin-right: 10px;
  line-height: 25px;
}

.gender select {
  border-radius: 5px;
  width: 80px;
  height: 34px;
  font-size: 16px;
  border: 1px solid #ccc;
}

/*password*/
.password {
  position: relative;
}

.passwordLevel {
  position: absolute;
  top: 5px;
  right: 5px;
}

/*agreement*/

.agreement {
  margin: 20px 0;
}

.agreementField {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.agreement label {
  font-size: 20px;
  margin-right: 10px;
}

.checkbox[type='checkbox'] {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid #979797;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  margin: 0px;
  width: 20px;
  padding: 0;
}

.checkbox[type='checkbox']:after {
  content: '';
  display: block;
  width: 70%;
  height: 40%;
  background-color: transparente;
  border-bottom: 35px solid white;
  border-left: 35px solid white;
  transform: rotate(-45deg) translate(7%, -5%);
  box-sizing: border-box;
  transition: all 0.2s;
}

.checkbox[type='checkbox']:checked {
  background-color: #a7a9ac;
  /* border-color: #a13a3a; */
}

.checkbox[type='checkbox']:checked:after {
  border-bottom: 4px solid white;
  border-left: 4px solid white;
}

.checkboxCard[type='checkbox']:focus {
  outline: none;
}

.checkboxCard[type='checkbox']:disabled {
  background-color: #eee;
  border-color: transparent;
}

.checkbox[type='checkbox']:disabled:after {
  border-color: #aaa;
}

.checkbox[type='checkbox']:hover {
  box-shadow:
    0px 0px 2px 0px #021b38,
    0px 0px 2px 0px #00000000;
}
