.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  /* background: #42627f; */
  /* background: #235877; */
  margin-bottom: 20px;
}

a {
  color: #527f99;
  text-decoration: none;
  margin: 20px;
  font-weight: bold;
  font-size: 20px;
  padding: 7px;
  border-radius: 3px;
  background: #fff;
}

a:hover {
  opacity: 0.8;
  cursor: pointer;
}
