.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 50px;
  margin-bottom: 40px;
}

.headerBtn {
  text-decoration: none;
  color: #fff;
  font-size: 34px;
  font-weight: bold;
  transition: box-shadow 0.2s ease;
}

.headerBtn:hover {
  box-shadow: 0 4px 0 0 #fff;
}
