.loading {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 3.8px solid;
  border-color: #dbdcef;
  border-right-color: #297cf8;
  animation: spinner-d3wgkg 0.4s infinite linear;
}

@keyframes spinner-d3wgkg {
  to {
    transform: rotate(1turn);
  }
}
