.pagination {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.pagination a {
  text-decoration: none;
}

.paginationItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border-radius: 2px;
  background: #f7f7f7;
  cursor: pointer;
  font-weight: 600;
  color: #000000;
}

.paginationItem:hover {
  opacity: 0.8;
}

.active {
  color: white;
  background: #486073;
}

.active {
  opacity: 1;
}

.ellipsis {
  color: #ffffff;
  font-size: 24px;
}
