.pagination a {
  width: 30px;
  height: 30px;
  display: block;
  margin: 7px;
  border-radius: 3px;
  background: #f7f7f7;
  text-decoration: none;
  padding: 5px 0px;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  color: black;
}

.pagination a:hover {
  opacity: 0.7;
}

.pagination span {
  cursor: pointer;
}

.pagination_item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.current_element {
  margin-top: 10px;
  text-align: center;
  font-weight: 600;
}
