.rhf {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.btn {
  margin: 10px auto;
}

.error {
  padding-left: 5px;
  color: #cc0007;
  font-size: 14px;
}

.password-level {
  padding-left: 5px;
  color: #1c4d28;
  font-size: 14px;
}
