* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  /* background: #86a5b7; */
  background: #527f99;
  height: 100%;
  font-family: 'Exo 2', 'Lato', 'Helvetica Neue', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
}

.active {
  background: #ffffff;
  color: #2d4e65;
}

input {
  margin: 5px 0px 2px 0px;
  display: block;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  outline-color: #42627f;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

button {
  background-color: #fff;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1.2rem;
  line-height: 1.2;
  color: #42627f;
  font-weight: 600;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  cursor: pointer;
  width: 120px;
}

button:hover {
  opacity: 0.9;
}

button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: default;
}

button[disabled]:hover {
  opacity: 1;
}

img {
  margin-top: -5px;
  width: 300px;
  border-radius: 0 0 3px 3px;
}
