* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: #adcbb5;
  height: 100%;
  font-family: 'Exo 2', 'Lato', 'Helvetica Neue', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
}
