.themeToggle {
  position: absolute;
  top: 20px;
  right: 20px;
}

.themeToggle button {
  width: 36px;
  height: 36px;
  font-size: 30px;
  line-height: 30px;
  border: none;
  border-radius: 5px;
}

.themeToggle button:hover {
  cursor: pointer;
  opacity: 0.9;
}
