.themeToggle {
  position: absolute;
  top: 32px;
  right: 20px;
}

.themeToggle button {
  width: 36px;
  height: 36px;
  font-size: 30px;
  line-height: 30px;
  border: none;
  border-radius: 5px;
}

.themeToggle button:hover {
  cursor: pointer;
  opacity: 0.9;
}

@media (max-width: 1000px) {
  .themeToggle {
    top: 8px;
    right: 20px;
  }

  .themeToggle button {
    width: 18px;
    height: 18px;
    font-size: 18px;
    line-height: 18px;
  }
}
