.themeToggle {
  position: absolute;
  top: 20px;
  right: 20px;
}

.themeToggle button {
  width: 30px;
  font-size: 18px;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.themeToggle button:hover {
  cursor: pointer;
  opacity: 0.9;
}
